# PyCharm specific directory
.idea/

# this file contains sensitive data
.env

# __pycache__ files
__pycache__/
entities/__pycache__/

# pipfile.lock makes 'pipenv  install' not work on anything that is not Windows
Pipfile.lock
