# PyCharm specific directory
.idea/

# this files contains sensitive data
# .env is not used for now due to problems with getting it to work on Android
.env
secrets.py

# sqlite3 database file
db_dogs.db


# __pycache__ files
__pycache__/
entities/__pycache__/

# pipfile.lock makes 'pipenv  install' not work on anything that is not Windows
Pipfile.lock

# Buildozer files
.buildozer/
bin/


