[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector-python = "==8.0.30"
kivy = "==2.1.0"
buildozer = "==1.4.0"

[dev-packages]

[requires]
python_version = "3.9"
